<% open('ngrok.log') do |f| %>
	<% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
		Server available at: <%= line.match(/tcp:\/\/(.+:[0-9]+) /)[1] %>
		<br />
	<% end %>
<% end %>
<%= button_to "Sync Now", action: open('bin/rqst.txt',"w+").write("go") %>
World Map available at:
<br />
<br />
<% open('transfer.txt').readlines.reverse.take(50).each do |i| %>
<%= i %>
<br />
<br />
<% end %>